.user-box {
    display: grid;
    height: 10rem;
    width: 15rem;
    border-radius: 0.3rem;
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.user-name {
    color: black;
    font-size: 1.5rem;
    font-family: cursive;
}
